/* _content/server/Pages/Board.razor.rz.scp.css */
table[b-yagsn4ttr8] {
    border-collapse: collapse;
    border-spacing: 0;
}

section.notice[b-yagsn4ttr8] {
    padding: 80px 0;
}

.page-title[b-yagsn4ttr8] {
    margin-bottom: 60px;
}

    .page-title h3[b-yagsn4ttr8] {
        font-size: 28px;
        color: #333333;
        font-weight: 400;
        text-align: center;
    }

#board-search .search-window[b-yagsn4ttr8] {
    padding: 15px 0;
    background-color: #f9f7f9;
}

    #board-search .search-window .search-wrap[b-yagsn4ttr8] {
        position: relative;
        /*   padding-right: 124px; */
        margin: 0 auto;
        width: 80%;
        max-width: 564px;
    }

        #board-search .search-window .search-wrap input[b-yagsn4ttr8] {
            height: 40px;
            width: 100%;
            font-size: 14px;
            padding: 7px 14px;
            border: 1px solid #ccc;
        }

            #board-search .search-window .search-wrap input:focus[b-yagsn4ttr8] {
                border-color: #333;
                outline: 0;
                border-width: 1px;
            }

        #board-search .search-window .search-wrap .btn[b-yagsn4ttr8] {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 108px;
            padding: 0;
            font-size: 16px;
        }

.board-table[b-yagsn4ttr8] {
    font-size: 13px;
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}

    .board-table a[b-yagsn4ttr8] {
        color: #333;
        display: inline-block;
        line-height: 1.4;
        word-break: break-all;
        vertical-align: middle;
    }

        .board-table a:hover[b-yagsn4ttr8] {
            text-decoration: underline;
        }

    .board-table th[b-yagsn4ttr8] {
        text-align: center;
    }

    .board-table .th-num[b-yagsn4ttr8] {
        width: 100px;
        text-align: center;
    }

    .board-table .th-date[b-yagsn4ttr8] {
        width: 200px;
    }

    .board-table th[b-yagsn4ttr8], .board-table td[b-yagsn4ttr8] {
        padding: 14px 0;
    }

    .board-table tbody td[b-yagsn4ttr8] {
        border-top: 1px solid #e7e7e7;
        text-align: center;
    }

    .board-table tbody th[b-yagsn4ttr8] {
        padding-left: 28px;
        padding-right: 14px;
        border-top: 1px solid #e7e7e7;
        text-align: left;
    }

        .board-table tbody th p[b-yagsn4ttr8] {
            display: none;
        }

.btn[b-yagsn4ttr8] {
    display: inline-block;
    padding: 0 30px;
    font-size: 15px;
    font-weight: 400;
    background: transparent;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    text-transform: uppercase;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.btn-dark[b-yagsn4ttr8] {
    background: #555;
    color: #fff;
}

    .btn-dark:hover[b-yagsn4ttr8], .btn-dark:focus[b-yagsn4ttr8] {
        background: #373737;
        border-color: #373737;
        color: #fff;
    }

.btn-dark[b-yagsn4ttr8] {
    background: #555;
    color: #fff;
}

    .btn-dark:hover[b-yagsn4ttr8], .btn-dark:focus[b-yagsn4ttr8] {
        background: #373737;
        border-color: #373737;
        color: #fff;
    }

/* reset */

*[b-yagsn4ttr8] {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.clearfix[b-yagsn4ttr8]:after {
    content: '';
    display: block;
    clear: both;
}

.container[b-yagsn4ttr8] {
    width: 1100px;
    margin: 0 auto;
}

.blind[b-yagsn4ttr8] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: -1px;
    width: 1px;
    height: 1px;
}
.buttons[b-yagsn4ttr8] {
    margin: 10%;
    text-align: center;
}

.btn-hover[b-yagsn4ttr8] {
    width: 70px;
    margin-top:30px;
    height: 35px;
    font-size: 12px;
    padding:8px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

    .btn-hover:hover[b-yagsn4ttr8] {
        background-position: 100% 0;
        moz-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .btn-hover:focus[b-yagsn4ttr8] {
        outline: none;
    }

.btn-hover.color-8[b-yagsn4ttr8] {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
/* _content/server/Pages/BoardWrite.razor.rz.scp.css */
/* _content/server/Pages/SignIn.razor.rz.scp.css */
.*[b-759o9dozq2] {
    font-family: 'Orbit', sans-serif;
}

.signin-form-wrapper[b-759o9dozq2] {
   display : flex;
   justify-content : center;
   min-width:300px;
}


.signin-form[b-759o9dozq2] {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-group[b-759o9dozq2] {
    margin-bottom: 10px;
}

label[b-759o9dozq2] {
    display: block;
    font-weight: bold;
}

input[type="text"][b-759o9dozq2],
input[type="password"][b-759o9dozq2] {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[b-759o9dozq2] {
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
/* _content/server/Pages/SignUp.razor.rz.scp.css */
/* _content/server/Shared/Footer.razor.rz.scp.css */
footer[b-lh5hxhkx8q] {
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 15vh;
}
/*.footer-links li.baseline {
    vertical-align: bottom;
}
*/


.footer-logo img[b-lh5hxhkx8q] {
    display:flex;
    justify-content:center;
    align-self:center;
    max-width: 150px;
}

.footer-links[b-lh5hxhkx8q] {
    display: flex;
    vertical-align :bottom;
}

.footer-links ul[b-lh5hxhkx8q] {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

.footer-links li[b-lh5hxhkx8q] {
    margin-right: 20px;
}

.footer-links a[b-lh5hxhkx8q] {
    color: #fff;
    text-decoration: none;
}

.footer-contact[b-lh5hxhkx8q] {
    text-align: center;
}

.footer-bottom[b-lh5hxhkx8q] {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.social-icons a[b-lh5hxhkx8q] {
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}
/* _content/server/Shared/Header.razor.rz.scp.css */
.*[b-8lif190cle] {
    font-family: 'Orbit', sans-serif;
}

header[b-8lif190cle] {
    background-image: radial-gradient(759px at 14% 22.3%, rgb(10, 64, 88) 0%, rgb(15, 164, 102) 90%);
    padding: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 7vh;
}

nav ul[b-8lif190cle] {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav li[b-8lif190cle] {
    margin-right: 20px;
}

    nav li a[b-8lif190cle] {
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-weight: bold;
        font-size: 15px;
    }

    nav li:hover[b-8lif190cle] {
        background-color : grey;
        border-radius:4px;
    }

    nav li:active[b-8lif190cle] {
        background-color: #D09AFF;
        text-decoration:underline;
        border-radius: 4px;
        color: #8B00FF;
    }
   

.menu-trigger[b-8lif190cle] {
    align-items: center;
    margin-right: 70px;
    margin-bottom: 50px;
}

    .menu-trigger[b-8lif190cle],
    .menu-trigger span[b-8lif190cle] {
        display: inline-block;
        transition: all .4s;
        box-sizing: border-box;
    }


@media (max-width: 768px) {
    /* Apply styles for screens with a maximum width of 768px */
    .menu-trigger[b-8lif190cle] {
        position: relative;
        width: 2vw;
        height: 2vh;
    }

        .menu-trigger span[b-8lif190cle] {
            position: absolute;
            left: 0;
            width: 100%;
            height: 4px;
            background-color: #fff;
            border-radius: 4px;
        }

            .menu-trigger span:nth-of-type(1)[b-8lif190cle] {
                top: 0;
            }

            .menu-trigger span:nth-of-type(2)[b-8lif190cle] {
                top: 20px;
            }

            .menu-trigger span:nth-of-type(3)[b-8lif190cle] {
                bottom: 0;
            }

        .menu-trigger.active-2 span:nth-of-type(1)[b-8lif190cle] {
            -webkit-transform: translateY(20px) rotate(-315deg);
            transform: translateY(20px) rotate(-315deg);
        }

        .menu-trigger.active-2 span:nth-of-type(2)[b-8lif190cle] {
            opacity: 0;
        }

        .menu-trigger.active-2 span:nth-of-type(3)[b-8lif190cle] {
            -webkit-transform: translateY(-20px) rotate(315deg);
            transform: translateY(-20px) rotate(315deg);
        }
}
/* _content/server/Shared/MainLayout.razor.rz.scp.css */
.page[b-tgq1qiznhb] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-tgq1qiznhb] {
    flex: 1;
}

.sidebar[b-tgq1qiznhb] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-tgq1qiznhb] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-tgq1qiznhb]  a, .top-row .btn-link[b-tgq1qiznhb] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-tgq1qiznhb] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-tgq1qiznhb] {
        display: none;
    }

    .top-row.auth[b-tgq1qiznhb] {
        justify-content: space-between;
    }

    .top-row a[b-tgq1qiznhb], .top-row .btn-link[b-tgq1qiznhb] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-tgq1qiznhb] {
        flex-direction: row;
    }

    .sidebar[b-tgq1qiznhb] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-tgq1qiznhb] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-tgq1qiznhb], article[b-tgq1qiznhb] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* _content/server/Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-6l8vy8gokd] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-6l8vy8gokd] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-6l8vy8gokd] {
    font-size: 1.1rem;
}

.oi[b-6l8vy8gokd] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-6l8vy8gokd] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-6l8vy8gokd] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-6l8vy8gokd] {
        padding-bottom: 1rem;
    }

    .nav-item[b-6l8vy8gokd]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-6l8vy8gokd]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-6l8vy8gokd]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-6l8vy8gokd] {
        display: none;
    }

    .collapse[b-6l8vy8gokd] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-6l8vy8gokd] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
