@page "/boardwrite"
@using server.DB;
@using server.DB.Model;


<div class="wrap-container">
	<div class="container">

		<div class="title_wrap">
			<h2 class="title_h2">글 쓰기</h2>
		</div>

		<div class="gray-txt-box-wrap">
			<div class="gray-txt-box">
				<div class="gray-text-box-title">이용정책</div>
				<ul class="gray-txt-box-hypen">
					<li class="gray-txt-box-desc">
						어쩌고 저쩌고1
					</li>
					<li class="gray-txt-box-desc">
						어쩌고 저쩌고2
					</li>
				</ul>
			</div>

			<div class="gray-txt-box">
				<div class="gray-txt-box">
					<div class="gray-text-box-title">유의사항</div>
					<ul class="gray-txt-box-hypen">
						<li class="gray-txt-box-desc">
							어쩌고 저쩌고1
						</li>
						<li class="gray-txt-box-desc">
							어쩌고 저쩌고2
						</li>
					</ul>
				</div>
			</div>
		</div>

		<div class="board-input-box-wrap">
			<div class="board-input-tit" style="margin-bottom:12px;">
				"글 쓰기"
				<div class="req">
					"필수입력"
				</div>
			</div>

			<div class="board-input-list">
				<div class="input_list">
					<div class="input-box" style="border-bottom : 2px solid #e4e4e4; border-top:5px solid black; padding:20px;">
						<label class="label-req" for="input_ID1">
							제목
						</label>
						<div class="input_inner" style="position:relative;">
							<input type="text" id="input_ID1" placeholder="입력해주세요" @bind="@newPost.Title" />
							<button type="button" @onclick="ClearInput" class="input_clear" title="초기화" style="@ClearButtonStyle;">
								<img src="/images/ic_clear.svg" style="height:10px; width:10px;" />
							</button>
						</div>
					</div>
				</div>

				<div class="input_list">
					<div class="input-box" style="border-bottom : 2px solid #e4e4e4; padding:20px;">
						<label class="label-req" for="input_ID2">
							내용
						</label>
						<div class="inquiry-input-area" style="position:relative;">
								<div class="textarea">
									<form id="registForm">
										<textarea name="contents" @bind="@newPost.Content" id="inContents" cols="30" rows="10" placeholder="내용을 입력해주세요" maxlength="2000"> </textarea>
									</form>
									<p class="textarea-length">0</p>
									" / 1,000byte"
								</div>
			
						</div>
					</div>
				</div>

				<div class="input_list">
					<div class="input-box" style="border-bottom : 2px solid #e4e4e4; padding:20px;">
						<label class="label-Noreq" for="input_ID3">
							첨부파일
						</label>
						<div class="inquiry-input-area" style="position:relative;">
							<div class="filebox">
								<input class="upload-name" @bind="FileName" placeholder="첨부파일">
								<label for="file">파일찾기</label>
								<InputFile type="file" id="file" OnChange="HandleFileChange" style="position: absolute;width: 0;height: 0;padding: 0;overflow: hidden;border: 0;" />
							</div>

						</div>
					</div>
				</div>

			</div>
			<div class="butn-wra" style="display:flex; align-items:center; justify-content:center; min-height:80px;">
				<button type="button" class="btnSubmit" @onclick="CreatePost">글쓰기</button>
			</div>
		</div>
	</div> <!-- /container -->
</div>
@code {


	
}
